:root {
  --color-light-blue: rgb(60, 115, 251);
  --color-dark-blue: rgb(41, 51, 67);
  --color-light-gray: #b2b2b2;
  --color-mid-gray: #7f7f7f;
  --color-dark-gray: #59646b;
  font-family: "Circular STD", "Monserrat", "Gotham", sans-serif;
}

.body {
  background-color: var(--color-dark-blue);
  color: white !important;
}

@keyframes backgroundFade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.background-image img {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 667px;
  z-index: -1;
  animation: backgroundFade 1.5s ease-out forwards;
}

.container {
  padding: 0 7vw !important;
}

.navbar {
  height: 100px;
  position: relative;
}

.navbar-nav > *:not(:last-child) {
  margin-right: 10px;
}

.brand {
  font-weight: bold !important;
}

#home-content {
  padding: 20vh 0;
  max-width: 667px;
}

#home-title {
  font-size: 3em;
}

#home-description {
  font-size: 20px;
}

.btn.custom {
  padding: 5px 25px;
  border-radius: 2px;
  font-size: 15px;
  font-family: "Circular STD", "Monserrat", "Gotham", sans-serif;
}

#learn-more {
  border: 1px solid;
}

#service-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: -50px;
}

.card {
  border-radius: 1% !important;

  text-align: center;
  width: 330px !important;
  margin: 10px;
}

.card-text {
  font-size: 16px;
  height: 180px;
  overflow: auto;
}

.card .btn.custom {
  font-size: 13px;
}

.icon {
  background-color: var(--color-light-blue);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.icon > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.3));
}

.container-fluid.technology {
  background-color: var(--color-light-blue);
  padding: 50px 0px 70px 0px;
}

.technology .text {
  padding-right: 10rem;
  font-size: 18px !important;
}

.technology-icons > .row {
  text-align: center;
  margin: auto;
}

.technology-icons > .row:nth-child(2) {
  padding: 30px 0px;
}

.container-fluid.case-studies {
  background-color: white;
  padding: 70px, 0px 70px 0px;
  margin-top: -10px;
}

.case-studies {
  color: var(--color-mid-gray);
  text-align: center;
}

.case-studies h6 {
  font-size: 10px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 40px;
}

.clients-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.case-studies-icon {
  width: 100px;
  margin-bottom: 25px;
}

.case-studies-icon:not(:last-child) {
  margin-right: 10px;
}

.case-studies-icon:last-child {
  width: 150px;
}

#contact-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: -70px;
}

.case-studies .card {
  background-color: var(--color-light-blue);
  width: 490px !important;
  text-align: left;
  padding-right: 10rem !important;
  padding-left: 1.5rem !important;
  position: relative;
}

.case-studies .card-title {
  color: white;
}

.case-studies .card button {
  border: solid 1px white;
  color: white !important;
}

.case-studies .card > img {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 13em;
  margin-right: 10px;
}

footer > .container {
  margin-top: 80px;
  margin-bottom: 50px;
}

footer h6 {
  font-size: 10px;
}

footer p {
  margin-right: 10rem;
}

footer i {
  color: var(--color-mid-gray);
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 768px) {
  .background-image img {
    width: 90vw;
  }

  #hire-us {
    margin-left: 10px;
  }

  #home {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  #home-title {
    font-size: 1.7em;
  }

  #home-description {
    font-size: 16px;
  }

  .btn.custom {
    padding: 5px 20px;
    border-radius: 2px;
    font-size: 14px;
  }

  .technology h2 {
    font-size: 20px !important;
  }

  .technology .text {
    padding: 0px 30px 30px 30px;
    font-size: 14px !important;
  }

  .case-studies .card {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .case-studies .card > img {
    display: none;
  }

  footer p {
    margin: 0;
  }
}
